body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 20px;
}

h2 {
    color: #4a4a4a;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

section {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #007BFF;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}

